:root {
   /* fonts */
   --main-font: "Open Sans";
   --secondary-font: "Raleway";

   /* text colors */
   --accent-txt-cl: #FF6C00;
   --main-light-theme: #303030;
   --main-darck-theme: #FFFFFF;
   --white-txt-cl: #FFFFFF;

   /* bg-colors */

   /* others */
}

body {
   font-family: var(--main-font), sans-serif;
   font-size: 18px;
   line-height: 1.67;
}


/* common styles start */
.link {
   text-decoration: none;
}
.list {
   list-style: none;
}
.btn {
   font-family: inherit;
   font-weight: 600;
   font-size: 12px;
   line-height: 1.33;
   letter-spacing: 0.09em;
   text-transform: uppercase;
}
.btn-mode-light {
   color: var(--main-light-theme);
}
.btn-mode-dark {
   color: var(--main-darck-theme);
}
/* common styles end */

 /* Header section */
 .header {
    background-color: #191C26;
 }
 .header-link {
   font-weight: 600;
   font-size: 12px;
   line-height: 1.33;
   letter-spacing: 0.1em;
   color: var(--white-txt-cl);
 }
 .header-link:hover,
 .header-link:focus {
   color: var(--accent-txt-cl);
 }
 .header-contact {
   font-weight: 600;
   font-size: 12px;
   line-height: 1.33;
   letter-spacing: 0.1em;
   text-transform: uppercase;
   color: var(--white-txt-cl)
 }