:root {
   /* fonts */
   --main-font: "Open Sans";
   --secondary-font: "Raleway";

   /* text colors */
   --accent-txt-cl: #FF6C00;
   --main-light-theme: #303030;
   --main-dark-theme: #FFFFFF;

   /* bg-colors */

   /* others */
   --items: 3;
   --indent: 30;
}

body {
   font-family: var(--main-font), sans-serif;
   font-size: 18px;
   line-height: 1.67;
}

/* reset */
h1,
h2,
h3,
h4,
p {
   margin: 0;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}

/* common styles start */
.section {
   padding-top: 130px;
   padding-bottom: 130px;
}
.conteiner {
   padding-left: 15px;
   padding-right: 15px;
   margin-left: auto;
   margin-right: auto;
}


.link {
   text-decoration: none;
}

.list {
   list-style: none;
   margin: 0;
}

.btn {
   padding: 12px 20px;
   font-family: inherit;
   font-weight: 600;
   font-size: 12px;
   line-height: 1.33;
   letter-spacing: 0.09em;
   text-transform: uppercase;
   background-color: transparent;
   cursor: pointer;
   border-radius: 25px;
}

.btn:hover,
.btn:focus {
   background-color: var(--accent-txt-cl);
   color: var(--main-dark-theme);
}
.btn-mode-light {
   color: var(--main-light-theme);
}
.btn-mode-dark {
   color: var(--main-dark-theme);
}

.socials-link {
   font-weight: 600;
   font-size: 11px;
   line-height: 1.36;
   letter-spacing: 0.2em;
   color: var(--main-light-theme);
}
.socials-link:hover,
.socials-link:focus {
   color: var(--accent-txt-cl);
}

.uppertitle {
   font-weight: 600;
   font-size: 11px;
   line-height: 1.36;
   letter-spacing: 0.1em;
   text-transform: uppercase;
   margin-bottom: 20px;
}

.uppertitle-mode-light {
   color: var(--main-light-theme);
   margin-bottom: 20px;
}

.uppertitle-mode-dark {
   ccolor: rgba(157, 164, 189, 0.6);
   margin-bottom: 44px;
}

.section-title {
   margin-bottom: 20px;
   font-size: normal;
   font-weight: 700;
   line-height: 1.16;
   letter-spacing: 0.05em;
}
.section-title-mode-light {
   color: var(--main-light-theme);
}

.section-title-mode-dark {
   color: var(--main-dark-theme);
}

/* common styles end */

/* Header section */
.header {
   background-color: #191C26;
}
.header-conteiner {
   display: flex;
   align-items: center;
}

.header-list {
   display: flex;
}
.header-item {
   margin-right: 40px;
}
.header-group {
   margin: auto;

}
.header-btn {
   margin-left: 40px;
}

 .header-link {
   display: block;
   font-weight: 600;
   font-size: 12px;
   line-height: 1.33;
   letter-spacing: 0.1em;
   color: var(--main-dark-theme);
 }
 .current-link {
   color: var(--accent-txt-cl);
 }

 .header-link:hover,
 .header-link:focus {
   color: var(--accent-txt-cl);
 }
 .header-contact {
   font-weight: 600;
   font-size: 12px;
   line-height: 1.33;
   letter-spacing: 0.1em;
   text-transform: uppercase;
   color: var(--main-dark-theme);
 }

 /* Hero section */
 .hero {
   background-color: #191C26;
 }

/* About */
 .about-container {
   display: flex;
 } 

 .about-list {
   display: flex;
 }

 .about-group {
   flex-basis: 500px;
   margin-left: 64px;
 }

 .about-item:not(:last-child) {
   margin-right: 30px;
 }
.about-descr {
   margin-bottom: 20px;
}
/* Price */
.price-list {
   display: flex;
   margin-bottom: 50px;

   font-size: 18px;


}
.price-inner-list {
   padding: 30px 40px;
}
.price-list-item {
   flex-basis: 50%;
   outline: 1px solid cornflowerblue;
}
/* Team */
.team-list {
   display: flex;
   flex-wrap: wrap;
   margin: -15px;

}
.team-item {
   flex-basis: calc((100% - var(--indent) * var(--items)) / var(--items) );
   margin: 15px;
}